
name: delineate

services:
  delineate-app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ../src:/app/src
    env_file:
      - ../.env
    environment:
      - NODE_ENV=development
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://delineate-jaeger:4318
      - S3_ENDPOINT=http://delineate-minio:9000
    depends_on:
      - delineate-jaeger
      - delineate-minio
      - delineate-minio-init

  delineate-jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "4318:4318"
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  
  delineate-minio:
    image: minio/minio
    container_name: delineate-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

 
  delineate-minio-init:
    image: minio/mc
    depends_on:
      - delineate-minio
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://delineate-minio:9000 minioadmin minioadmin &&
      mc mb -p local/downloads || true
      "

volumes:
  minio-data:

